body {
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}

body:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

body:visited {
  color: rgb(0, 0, 0);
}

body:hover {
  color: rgb(0, 0, 0);
}

body:active{
  color: rgb(0, 0, 0);
}