body {
  background-color: "black";
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: "cyan";
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: "cyan";
  font-family: 'Courier New', Courier, monospace;
}
