body {
  background-color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  color: darkturquoise;
}

h1 {
  color: darkturquoise;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: darkturquoise;
  font-family: 'Courier New', Courier, monospace;
}

body:link {
  color: cyan;
}

body:visited {
  color: darkturquoise;
}

body:hover {
  color: darkturquoise;
}

body:active{
  color: royalblue;
}