html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(-45deg, #008881, #870041, #410087, #000000);
  background-size: 400% 100%; /* width 4×, height = viewport */
  background-repeat: no-repeat;
  animation: gradientBG 30s linear infinite;

  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-decoration: none;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: rgb(0, 183, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

#backButton {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

body:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

body:visited {
  color: rgb(0, 0, 0);
}

body:hover {
  color: rgb(0, 0, 0);
}

body:active{
  color: rgb(0, 0, 0);
}